<p id="notice"><%= notice %></p>

<p>
  <strong>Categoria:</strong>
  <%= @produto.categoria %>
</p>

<p>
  <strong>Unidade:</strong>
  <%= @produto.unidade %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @produto.descricao %>
</p>

<p>
  <strong>Identificacao:</strong>
  <%= @produto.identificacao %>
</p>

<p>
  <strong>Custo:</strong>
  <%= @produto.custo %>
</p>

<p>
  <strong>Preco venda1:</strong>
  <%= @produto.preco_venda1 %>
</p>

<p>
  <strong>Preco venda2:</strong>
  <%= @produto.preco_venda2 %>
</p>

<p>
  <strong>Preco venda3:</strong>
  <%= @produto.preco_venda3 %>
</p>

<p>
  <strong>Observacoes:</strong>
  <%= @produto.observacoes %>
</p>

<p>
  <strong>Fornecedor:</strong>
  <%= @produto.fornecedor %>
</p>

<p>
  <strong>Estoque:</strong>
  <%= @produto.estoque %>
</p>

<p>
  <strong>Estoque min:</strong>
  <%= @produto.estoque_min %>
</p>

<p>
  <strong>Estoque max:</strong>
  <%= @produto.estoque_max %>
</p>

<p>
  <strong>Estoque compra:</strong>
  <%= @produto.estoque_compra %>
</p>

<p>
  <strong>Cod barra:</strong>
  <%= @produto.cod_barra %>
</p>

<p>
  <strong>Fator unid venda:</strong>
  <%= @produto.fator_unid_venda %>
</p>

<p>
  <strong>Ncm:</strong>
  <%= @produto.ncm %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @produto.marca %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @produto.peso %>
</p>

<p>
  <strong>Tamanho:</strong>
  <%= @produto.tamanho %>
</p>

<p>
  <strong>Inativo:</strong>
  <%= @produto.inativo %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @produto.tipo %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @produto.categoria %>
</p>

<p>
  <strong>Composicao:</strong>
  <%= @produto.composicao %>
</p>

<p>
  <strong>Mat prima:</strong>
  <%= @produto.mat_prima %>
</p>

<p>
  <strong>Mat exp:</strong>
  <%= @produto.mat_exp %>
</p>

<p>
  <strong>Para venda:</strong>
  <%= @produto.para_venda %>
</p>

<p>
  <strong>Moeda:</strong>
  <%= @produto.moeda %>
</p>

<%= link_to 'Edit', edit_produto_path(@produto) %> |
<%= link_to 'Back', produtos_path %>
